<div class="row" *ngFor="let comment of comments">
    <div class="col-md-1">
      <upvote (vote)="toggleVote(comment)" [count]
        ="comment.voters.length" [voted]="userHasVoted(comment)"></upvote>
    </div>
    <div class="col-md-10">
      <collapsible-well>
          <div well-title>
            {{comment.name}}
            <i *ngIf="comment.voters.length > 3" class="glyphicon glyphicon-fire"
              style="color:red"></i>
          </div>
          <div well-body>
            <h6>{{comment.date | date:'short'}}</h6>
            <span *ngIf="comment.reference">Reference: {{comment.reference}}></span><br />
            <span *ngIf="comment.tags" >Tags: {{comment.tags}}</span>

            <p>{{comment.body}}</p>
          </div>
      </collapsible-well>
    </div>
  </div>