<div class="container">
  <div *ngIf="gripe.reference"><strong>Reference:</strong> {{gripe?.reference}}</div>
  
    <div class="row">
      <div class="col-md-11">
        <h2>{{gripe?.name}} </h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div><strong>Date:</strong> {{gripe?.date}}</div>
        <div *ngIf="gripe.tags"><strong>Tags:</strong> {{gripe?.tags}}</div>
        <span>&nbsp;</span>
        <div>{{gripe?.body}}<br />
      </div>
    </div>
  </div>