<div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a [routerLink]="['/gripes']" class="navbar-brand" >Gripe</a>
      </div>
  
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a [routerLink]="['/gripes']" routerLinkActive="active" 
              [routerLinkActiveOptions]="{exact:true}">All Gripes</a>
          </li>
          <li><a [routerLink]="['/gripes/new']" routerLinkActive="active" 
              [routerLinkActiveOptions]="{exact:true}">Create Gripe</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
              Gripes
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li >
                <a href="">Learning new languages sucks</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="navbar-header navbar-right">
          <ul class="nav navbar-nav">
            <li>
              <a *ngIf="!auth.isAuthenticated()" [routerLink]="['user/login']" routerLinkActive="active" 
              [routerLinkActiveOptions]="{exact:true}">Login</a>
              <a *ngIf="auth.isAuthenticated()" [routerLink]="['user/profile']" routerLinkActive="active" 
              [routerLinkActiveOptions]="{exact:true}">Welcome {{auth.currentUser.firstName}}</a>
            </li>
          </ul>
        </div>
        <form id="searchForm" (ngSubmit)="searchTags(searchTerm)" class="navbar-form navbar-right"  >
          <div class="form-group">
            <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control" placeholder="Search Gripes" >
          </div>
          <button class="btn btn-default" modal-trigger>
            Search
          </button>
        </form>
      </div>
    </div>
  </div>
  
  <simple-modal title="Matching Comments">
    <div class="list-group">
      <a class="list-group-item" *ngFor="let comment of
      foundComments" [routerLink]="['/gripes', comment.gripeId]">{{comment.name}}
      </a>
    </div>
  </simple-modal>